<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{#if title}}{{title}}{{else}}{{settings.title}}{{/if}}</title>
<meta name="description" content="{{settings.description}}">

{{!--<meta property="og:url" content="{{og.url}}" />--}}
<meta property="og:type" content="website" />
{{!--<meta property="og:title" content="{{#if og.title}}{{og.title}}{{else}}{{site.title}}{{/if}}" />--}}
<meta property="og:description" content="{{settings.description}}" />
<meta property="og:image" content="{{og.image}}" />

<meta name="google-site-verification" content="4J-uK3Cby3I_iH2MhcUVAPZKJd1Jpu0hwRiZUlq9Bkc" />


<link rel="apple-touch-icon" sizes="57x57" href="/public/images/icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/public/images/icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/public/images/icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/public/images/icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/public/images/icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/public/images/icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/public/images/icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/public/images/icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/public/images/icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/public/images/icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/public/images/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/public/images/icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/public/images/icon/favicon-16x16.png">
<link rel="manifest" href="/public/images/icon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/public/images/icon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

{{#if settings.analytics}}
  {{{settings.analytics}}}
{{/if}}
