<div class="slide-over">
  
  <div class="row center no-bottom-margin">
    <div class="col-1of2">
      <p> 
        {{{page.elevatorpitch}}}
      </p>
      
      <p> <a href="https://www.soundcloud.com/thebrokenarrowcomplex/">Listen</a> to our music or 
        <a href="https://music.kylemattimore.com/" target="_blank">download</a> it for free!
      </p>
    </div>
  </div> 

  {{#if page.eventLabel}}
    <div class="row no-top-margin">
      <div class="col-1of2 right">
        {{{page.eventLabel}}}
       </div>
      <div class="col-1of2">
        {{{page.events}}}
       </div>
    </div>
  {{/if}}

  <div class="row center contact-us">
    <div class="col">
      
      <a class="contact-link" href="https://www.facebook.com/thebrokenarrowcomplex/" target="_blank">
        <i class="fa fa-facebook"></i>facebook</a>  
      
      <a class="contact-link"  href="https://www.instagram.com/thebrokenarrowcomplex/" target="_blank"> 
        <i class="fa fa-instagram"></i>insta</a>  
      
      <a class="contact-link" href="https://www.soundcloud.com/thebrokenarrowcomplex/" target="_blank">
        <i class="fa fa-soundcloud"></i>sc</a>  
        
      <a class="contact-link" href="https://www.youtube.com/channel/UCz4eR-0-6FBGZd0e-ScM47Q" target="_blank">
        <i class="fa fa-youtube"></i>yt</a>  
      
      <a class="contact-link" href="mailto:kylemattimore@gmail.com">
        <i class="fa fa-envelope"></i>email </a> 
      
      <a class="contact-link" href="tel:+17349560456">
        <i class="fa fa-phone"></i>phone </a>  
        
      <a class="contact-link" href="https://www.youtube.com/watch?v=McBUIrvRRp0" target="_blank">
        <i class="fa fa-fire"></i>whatever </a>
    </div>
  </div>
  
  <div class="row center members">
    <div class="col-1of2">
      <br>
      <h3>Members</h3>
      <p> Sergio Rego <span class="instrument"> Acoustic Guitar, Drums, Bass </span> </p>
      <p> Peter Alvarez <span class="instrument"> Piano, Bass, Acoustic Guitar </span> </p>
      <p> Kyle Mattimore <span class="instrument"> Vocals, Electric Guitar, Production, Beatbox </span> </p>
      <p> Erin O'Connell <span class="instrument"> Vocals, Bass</span> </p>
    </div>
      
    
  </div>
  
  <br />
  
  {{#if page.soundcloud}}
    <div class="row center soundcloud"> 
      <div class="col-1of2">
        {{{page.soundcloud}}}
      </div>
    </div>
  {{/if}}
  
  {{#if page.youtube}}
    <div class="row center soundcloud"> 
      <div class="col-1of2">
        <div class='embed-container'>
          {{{page.youtube}}}
        </div>
      </div>
    </div>
  {{/if}}
    
</div>